#site-box { width : 750px ; }


.UR1{
position:relative;
top:0px;
left:50%;
}


.logo1{

position:relative;
top:180px;
left:48%;

background-image:url("../img/logo.png");
background-repeat: no-repeat;


width:auto;
height:90px;



}



div.txt1{
font-size:xx-large;
position:relative;
top:200px;

text-align:center;


}

div.txt2{
font-size:large;
position:relative;
top:200px;

text-align:center;

margin-left:10%;
margin-right:10%;
}

div.txt3{
font-size:large;
position:relative;
left:65%;

}

.ur_img {
width:40px;
height:auto;
}
